<!DOCTYPE html>
<html>
<head>
<title>Top Articles - Authentication required</title>
</head>
<body>
<h1>Authentication required</h1>
<p><a id="oauth-link" href="<tmpl_var name="oauth_auth_uri">" target="_blank">Sign in to pocket</a></p>
</body>
</html>