<!DOCTYPE html>
<html>
<head>
<title>Pocket Favourites - Authentication required</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p><a id="sign-in-link" href="<tmpl_var name="oauth_auth_uri">" target="_blank">Sign in to pocket</a></p>
<h1>Authentication required</h1>
<p>A handy sharable list of your recent starred reads.</p>
</body>
</html>
