<!DOCTYPE html>
<html>
<head>
<title>Top Articles - <tmpl_var name="username"></title>
</head>
<body>
<h1>Top Articles for <tmpl_var name="username"> this week</h1>
<p>How disappointing - you don't seem to have favourited any articles this week. Oh well :(</p>
</body>
</html>