<!DOCTYPE html>
<html>
<head>
<title>Pocket Favourites - <tmpl_var name="username"></title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p><a href="?sign_out=1">Sign out</a></p>
<h1>Pocket Favourites for <strong><tmpl_var name="username"></strong> this week</h1>
<p>How disappointing - you don't seem to have favourited any articles this week. Oh well :(</p>
</body>
</html>
