<!DOCTYPE html>
<html>
<head>
<title>Pocket Favourites - <tmpl_var name="username"></title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p><a href="?sign_out=1">Sign out</a></p>
<h1>Pocket Favourites for <strong><tmpl_var name="username"></strong> this week</h1>
<p>How disappointing - you don't seem to have favourited any articles this week. Oh well :(</p>
<div><a href="https://github.com/alicraigmile/pocket-favourites"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a></div>
</body>
</html>
