<!DOCTYPE html>
<html>
<head>
<title>Pocket Favourites - <tmpl_var name="username"></title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<p><a href="?sign_out=1">Sign out</a></p>
<h1>Pocket Favourites for <strong><tmpl_var name="username"></strong> this week</h1>
<ul>
<tmpl_loop name="list">
<li>
<a href="<tmpl_var name="resolved_url">"><tmpl_var name="resolved_title"></a>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="<tmpl_var name="resolved_url">" data-via="<tmpl_var name="username">">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</li>
</tmpl_loop>
</ul>
</body>
</html>
