<!DOCTYPE html>
<html>
<head>
<title>Pocket Favourites - <tmpl_var name="username"></title>
</head>
<body>
<p><a href="?sign_out=1">Sign out</a></p>
<h1>Pocket Favourites for <strong><tmpl_var name="username"></strong> this week</h1>
<ul>
<tmpl_loop name="list">
<li>
<a href="<tmpl_var name="resolved_url">"><tmpl_var name="resolved_title"></a>
</li>
</tmpl_loop>
</ul>
</body>
</html>
